{% extends "mainApp/wrapper.html" %}
    {% block content %}
    <p>Старейший шотландский купажированный виски Teacher's Highland Cream.
    </p>
    <!--{% include "mainApp/includes/some_html.html" %}-->
    {% endblock %}

<!--Старейший шотландский купажированный виски Teacher's Highland Cream впервые был создан еще в 1863 году.
        Но несмотря на долгие годы, вкус Teacher's и по сей день остается таким же богатым и полным, как и полутора веков назад.
        Особенность купажа Teacher's Highland Cream — высокое содержание односолодовго виски по сравнению с зерновыми — 45%, такого показателя не встречается больше ни у одного шотландского бленда.
        В составе напитка присутствует около 30 сортов виски, особое место среди которых занимает виски Ардмор (Ardmore),
        производимый на последней винокурне Хайленда со строгим соблюдением старинной технологии (ячмень высушивается на торфяном огне).-->