<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Заголовок страницы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
    <header class="header">
         <div class="overlay"></div>

        </div>
    </header>
    <div class="jumbotron">
        <div class="container">
            <h1>{% include "mainApp/includes/some_html.html" %}</h1>
                {% block content %}
                {% endblock %}
            <p>
                <a href="/" class="btn btn-success btn-lg">Главная страница</a>
                <a href="/moreknow" class="btn btn-primary btn-lg">Узнать больше &raquo;</a>
                <a href="/contact" class="btn btn-primary btn-lg">Контакты</a>
            </p>
                <img title="Виски Teacher's Highland Cream"  src="{% static 'mainApp/image/Viski.jpg' %}" class="img-thumbnail">
            <p></p>
            <p>
                <h4>Интересные факты:</h4>
                Teacher’s – традиционный смешанный шотландский виски, купаж которого остается неизменным с 1863 года.
                Тогда бакалейщик Уильям Тичер решил перейти от продажи виски к производству своего собственного напитка.
                И надо сказать, это получилось у него совсем неплохо. Teacher’s Highland Cream пришелся по душе жителям Шотландии,
                Великобритании и США. Фирма William Teacher & Sons смогла прежить и нелегкие времена «сухого закона».
                <p></p>
                Но, несмотря на долгие годы, вкус "Teacher’s" и по сей день остается таким же богатым и полным, как и полутора веков назад.
                Особенность купажа "Тичерс" Хайленд Крим — высокое содержание односолодового виски по сравнению с зерновыми — 45%,
                такого показателя не встречается больше ни у одного шотландского бленда. В составе напитка присутствует около 30 сортов виски,
                особое место среди которых занимает виски Ардмор (Ardmore), производимый на последней винокурне Хайленда
                со строгим соблюдением старинной технологии (ячмень высушивается на торфяном огне).
                <p></p>
                <h4>Оттенки вкуса</h4>
                Виски Тичерс отличается от других блендов высоким содержанием в купаже односолодовых виски – обычно их доля приближается к 50 %.
                Уникальный вкус и аромат виски Тичерс придают два главных компонента – Ardmore и Glendronach,
                которые производятся на старинном заводе в шотландском Высокогорье. Доминантой во вкусовых оттенках выступает солод,
                затем улавливаются ноты ореха, меда и лакрицы. Оставляет четкое послевкусие с нюансами торфяного дыма, дуба и корочки хлеба.
                Благодаря технологии производства виски Тичерс имеет особенно мягкий, округлый вкус.
                <p></p>
                <h4>История бренда</h4>
		В 1830 году Уильям Тичер, женившись на дочке владельца бакалеи, получил лицензию на продажу алкоголя.
		Преобразовав обыкновенную лавку в dram shop — нечто среднее между традиционным британским пабом и хорошо знакомой  рюмочной,
		он довольно быстро заметил, что большинство добропорядочных граждан (у которых, как правило, водятся деньги), 
		избегает посещения подобных злачных мест. Тичер сделал следующее: он запретил брань и излишне громкие разговоры, 
		а перебравших градусов посетителей немедля выдворял из заведения. Через некоторое время, 
		его трактир стал самым крупным и популярным в Глазго. 
		<p></p>
            </p>
        </div>
    </div>
    <footer>
        <div class="container">
            <h4>&copy; BoozeStore Company 2000-2020</h4>
            <p>Ваше приятное времяпровождение наша главная цель и задача!</p>
            <h4>Присоединяйтесь: </h4>
            <a href="https://uk-ua.facebook.com/"><img height="128" width="128" src="{% static 'mainApp/image/Facebook.png' %}"></a>
            <a href="https://www.instagram.com/?hl=ru"><img height="128" width="128"src="{% static 'mainApp/image/Instagram.png' %}"></a>
            <a href="https://xn--80affa3aj0al.xn--80asehdb/#/login"><img height="128" width="128" src="{% static 'mainApp/image/Telegram.png' %}"></a>
            <a href="https://vk.com/"><img height="128" width="128" src="{% static 'mainApp/image/vkontakte.png' %}"></a>
            <hr>
            &copy; Все права защищены 2020
        </div>
    </footer>
</body>
</html>
